.card {
    width: calc(100% - 8px);
    min-height: 120px;
    background-color: #E3FCEF;
    border-radius: 5px;
    margin: 8px 0;
    padding: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}