<div class="card" (dblclick)="openTicket()">
    <app-tag [tag]="tag"></app-tag>
    <p class="card_title">{{title}}</p>
    <div class="card_info">
        <div class="card_info-ticket">
            <img src="../../../assets/{{type}}.png">
            <p>TICKET NO {{id}}</p>
        </div>
        <div class="card_info-member" >
            <ng-container *ngFor="let assignee of assignees">
                <app-avatar [assigneeName]="assignee"></app-avatar>
            </ng-container>   
        </div>
    </div>
    <div class="card_labels">
        <ng-container *ngFor="let label of labels">
            <app-label [labelName]="label"></app-label>
        </ng-container>    
    </div>
</div>
