.dialog-card {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.dialog-card_background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.22);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
}

.dialog-card_content {
    min-height: 600px;
    min-width: 900px;
    background-color: #E3FCEF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.dialog-card_content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all .2s;
    }

    button:hover {
        transform: scale(1.1);
    }
}

.dialog-card_content-description, .dialog-card_content-acceptance-criteria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;

    textarea {
        height: 120px;
        margin-top: 10px;
        background-color: transparent;
        border: none;
        padding: 5px;
        resize: none;
        overflow-y: scroll;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 5px;
    }
}

.dialog-card_content-card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dialog-card_content-card-info-ticket {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img {
        margin-right: 10px;
        height: 25px;
        width: 25px;
    }
}

.dialog-card_content-card-info-member {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.dialog-card_content-labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}