.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar_header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background-color: #E3FCEF;

    img {
        height: 80px;
        width: 80px;
        margin-right: 10px;
    }
}

