.tag {
    background-color: #E9E6FD;
    color: black;
    font-weight: 500;
    width: 30px;
    padding: 2px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}