<div class="kanban-board">
    <div class="kanban-board_header">
        <li *ngFor="let lane of swimLanes" class="kanban-board_header-lane">
            <h3>{{lane | uppercase}}</h3>
        </li>
    </div>

    <div class="kanban-board_lanes" >
        <div class="kanban-board_lane" *ngFor="let lane of swimLanes">
            <li class="kanban-board_lane-items" *ngFor="let ticket of backlogTickets">
                <app-card></app-card>
            </li>
        </div>
    </div>
    
</div>
