.kanban-board {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.kanban-board_header {
    background-color: #E3FCEF;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.kanban-board_header-lane {
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kanban-board_lanes {
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
}

.kanban-board_lane {
    flex: 1;
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: blue;
}

.kanban-board_lane-items {
    list-style: none;
}