<header>
    <div class="header__notes-list">
        <div>
            <fa-icon [icon]="faList" class="margin-right-s"></fa-icon>
            <fa-icon [icon]="faFolder"></fa-icon>
        </div>
        <fa-icon [icon]="faTrashCan"></fa-icon>
    </div>
    <div class="header__notes">
        <fa-icon [icon]="faPenToSquare"></fa-icon>
        <div>
            <fa-icon [icon]="faFont" class="margin-right-s"></fa-icon>
            <fa-icon [icon]="faListCheck" class="margin-right-s"></fa-icon>
            <fa-icon [icon]="faTable" class="margin-right-s"></fa-icon>
            <fa-icon [icon]="faImages"></fa-icon>
        </div>
        <div>
            <fa-icon [icon]="faArrowUpFromBracket" class="margin-right-s"></fa-icon>
            <fa-icon [icon]="faMagnifyingGlass" class="margin-right-s"></fa-icon>
        </div>
    </div>
</header>
