<div class="kanban-board">
    <div class="kanban-board_header">
        <li *ngFor="let lane of swimLanes" class="kanban-board_header-lane">
            <h3>{{lane | uppercase}}</h3>
        </li>
    </div>

    <div class="kanban-board_lanes" cdkDropListGroup>
        <div 
            class="kanban-board_lane" 
            cdkDropList
            [cdkDropListData]="backlog"
            (cdkDropListDropped)="drop($event)">
            <li class="kanban-board_lane-items" *ngFor="let ticket of backlog" cdkDrag>
                <app-card
                    [title]="ticket.title"
                    [description]="ticket.description"
                    [acceptanceCriteria]="ticket.acceptanceCriteria"
                    [tag]="ticket.tag"
                    [id]="ticket.id"
                    [labels]="ticket.label"
                    [type]="ticket.type"
                    [assignees]="ticket.assignee"
                ></app-card>
            </li>
        </div>
        <div 
            class="kanban-board_lane"
            cdkDropList
            [cdkDropListData]="ready"
            (cdkDropListDropped)="drop($event)">
            <li class="kanban-board_lane-items" *ngFor="let ticket of ready" cdkDrag>
                <app-card
                    [title]="ticket.title"
                    [description]="ticket.description"
                    [acceptanceCriteria]="ticket.acceptanceCriteria"
                    [tag]="ticket.tag"
                    [id]="ticket.id"
                    [labels]="ticket.label"
                    [type]="ticket.type"
                    [assignees]="ticket.assignee"
                ></app-card>
            </li>
        </div>
        <div 
            class="kanban-board_lane"
            cdkDropList
            [cdkDropListData]="progress"
            (cdkDropListDropped)="drop($event)">
            <li class="kanban-board_lane-items" *ngFor="let ticket of progress" cdkDrag>
                <app-card
                    [title]="ticket.title"
                    [description]="ticket.description"
                    [acceptanceCriteria]="ticket.acceptanceCriteria"
                    [tag]="ticket.tag"
                    [id]="ticket.id"
                    [labels]="ticket.label"
                    [type]="ticket.type"
                    [assignees]="ticket.assignee"
                ></app-card>
            </li>
        </div>
        <div 
            class="kanban-board_lane"
            cdkDropList
            [cdkDropListData]="test"
            (cdkDropListDropped)="drop($event)">
            <li class="kanban-board_lane-items" *ngFor="let ticket of test" cdkDrag>
                <app-card
                    [title]="ticket.title"
                    [description]="ticket.description"
                    [acceptanceCriteria]="ticket.acceptanceCriteria"
                    [tag]="ticket.tag"
                    [id]="ticket.id"
                    [labels]="ticket.label"
                    [type]="ticket.type"
                    [assignees]="ticket.assignee"
                ></app-card>
            </li>
        </div>
        <div 
            class="kanban-board_lane"
            cdkDropList
            [cdkDropListData]="done"
            (cdkDropListDropped)="drop($event)">
            <li class="kanban-board_lane-items" *ngFor="let ticket of done" cdkDrag>
                <app-card
                    [title]="ticket.title"
                    [description]="ticket.description"
                    [acceptanceCriteria]="ticket.acceptanceCriteria"
                    [tag]="ticket.tag"
                    [id]="ticket.id"
                    [labels]="ticket.label"
                    [type]="ticket.type"
                    [assignees]="ticket.assignee"
                ></app-card>
            </li>
        </div>
    </div>
</div>
