.label {
    background-color: #D3D3D3;
    color: black;
    font-weight: 500;
    width: 30px;
    padding: 2px;
    margin-right: 5px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}